{% extends "base_generic.html" %}

{% block content %}
    {% if artist.exclude %}<h1 style="text-decoration: line-through;">{% else %}<h1>{% endif %}
    {% block title %}Artist: {{ artist.name }}{% endblock %}
        <a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">
            {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/musicbrainz.png' %}" alt="{{ artist.name }}" />
        </a>
    </h1>

    <div style="margin-left:20px;margin-top:20px">
        <table border="1">
            <tr>
                <td>Disambiguation</td>
                <td>{{ artist.disambiguation }}</td>
            </tr>
            <tr>
                <td>Genre</td><td>{{ artist.genre.all|join:"," }}</td>
            </tr>
        </table>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Concerts</h4>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Main organisation</th>
                <th>Announcement</th>
            </tr>
            {% for concert in object_list %}
              {% if concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
                  <td valign="top">
                      {% if concert.is_upcoming %}
                        {% load static %}<img style="width: 46px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/coming.gif' %}" />
                      {% endif %}
                      <a href="{% url 'concert_detail' concert.id %}">{{ concert.date }}</a>
                      {% if concert.verified %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
                      {% if not concert.is_confirmed and not concert.verified %}(Unconfirmed){% endif %}
                  </td>
                  {% if concert.relationconcertorganisation_set.first %}
                  <td valign="top">
                      {% if concert.relationconcertorganisation_set.first.organisation %}
                          <a href="{% url 'organisation_detail' concert.relationconcertorganisation_set.first.organisation.id %}">
                              {{ concert.relationconcertorganisation_set.first.organisation }}
                          </a>
                      {% else %}
                        Missing organisation
                      {% endif %}
                      {% if concert.relationconcertorganisation_set.first.organisation.location %}
                        in <a href="{% url 'location_detail' concert.relationconcertorganisation_set.first.organisation.location.id %}">
                            {{ concert.relationconcertorganisation_set.first.organisation.location }}
                        </a>
                          {% load static %}<img title="{{ concert.relationconcertorganisation_set.first.organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ concert.relationconcertorganisation_set.first.organisation.location.country.iso_code }}.png" />
                          {% if concert.relationconcertorganisation_set.first.organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
                      {% endif %}
                  </td>
                  {% else %} <td>{% load static %}<img style="width: 36px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/danger.gif' %}" />Missing organisation{% load static %}<img style="width: 36px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/danger.gif' %}" /></td>
                  {% endif %}
                  <td valign="top">
                      {% for ca in concert.concertannouncement_set.all %}
                        <a target="_blank" href="{{ ca.gigfinder.base_url}}{{ ca.gigfinder_concert_id }}">{% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" /></a>
                        <a title="{{ ca.title }}" href="{% url 'concertannouncement_detail' ca.id %}">{% if ca.title != "nan" %}{{ ca.title|truncatechars:40 }}{% else %}{{ ca.gigfinder }}{% endif %}</a>
                          {% if ca.ignore %}🙈{% endif %}
                          {% if ca.recently_seen is not True %}
                            {% if ca.gigfinder.name != "www.setlist.fm" %}
                                {% if ca.frequently_seen is not True %}
                                    {% load static %}<img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/banana.png' %}" />
                                {% else %}
                                    {% load static %}<img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/skulnbones.png' %}" />
                                {% endif %}
                            {% else %}
                                (Deleted)
                            {% endif %}
                        {% endif %}
                        <br>
                      {% endfor %}
                  </td>
              </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

    {% if artist.artista.all or artist.artistb.all %}
    <div style="margin-left:20px;margin-top:20px">

        <h4>Related artists</h4>
        <ul>
            {% for relation in artist.artista.all %}
              <li>
                  {{ artist.name }} {{ relation.relation_type.all|join:", " }} <a href="{{ relation.artist_b.mbid }}">{{ relation.artist_b.name }}</a> ({{ relation.startdate }} - {{ relation.enddate }})
                  {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                  {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.mbid %}">[delete relation]</a>{% endif %}
              </li>
            {% endfor %}
            {% for relation in artist.artistb.all %}
              <li>
                  <a href="{{ relation.artist_a.mbid }}">{{ relation.artist_a.name }}</a> {{ relation.relation_type.all|join:", " }} {{ artist.name }} ({{ relation.startdate }} - {{ relation.enddate }})
                  {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                  {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.mbid %}">[delete relation]</a>{% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Technical details</h4>
        <table border="1">
            <tr>
                <td>Is on include list</td>
                <td>{{ artist.include }}</td>
            </tr>
            <tr>
                <td>Is on exclude list</td>
                <td>{{ artist.exclude }}</td>
            </tr>
            {% for gigfinderurl in artist.gigfinderurl_set.all %}
            <tr>
                <td>{{ gigfinderurl.gigfinder }}</td>
                <td>{{ gigfinderurl.last_confirmed_by_musicbrainz }}, {{ gigfinderurl.last_synchronized }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Actions</h4>
        <ul>
            {% if perms.hlwtadmin.can_create_relationartistartist %}<li><a href="{% url 'relationartistartist_create' artist.mbid %}">Relate artist to another artist</a></li>{% endif %}
            {% if perms.hlwtadmin.can_update_artist %}<li><a href="{% url 'artist_update' artist.mbid %}">Update artist</a></li>{% endif %}
        </ul>
    </div>
{% endblock %}