{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>
  {% if artist_list %}
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Concerts/countries (period)</th>
      <th>Gigfinders</th>
    </tr>
    {% for artist in artist_list %}
      <tr>
        <td>
            <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a> (<i>{{ artist.disambiguation }}</i>)
            <a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/musicbrainz.png' %}" alt="{{ artist.name }}" />
            </a>
        </td>
<!--        <td>{{ artist.genre.all|join:"," }}</td>
        <td>
          {{ artist.concert_count }} / {{ artist.concerts_in_countries }} ({{ artist.period }})
        </td>
        <td>
        {% for gf in artist.gigfinderurl_set.all %}
          <a target="_blank" href="{{ gf.url }}">
              {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ gf.gigfinder }}.png" alt="{{ gf.gigfinder }}" />
          </a>
        {% endfor %}
        </td>-->
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no artists in the library.</p>
  {% endif %}

{% endblock %}