{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>

    <form method="get" action="{% url 'artists' %}">
        <p>
            <label for="filter">Search term:</label>
            <input type="text" id="filter" name="filter"/>
        </p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>

  {% if artist_list %}
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>#Concerts</th>
      <th>Gigfinders</th>
    </tr>
    {% for artist in artist_list %}
      <tr>
        <td>
            <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a> (<i>{{ artist.disambiguation }}</i>)
            <a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/musicbrainz.png' %}" alt="{{ artist.name }}" />
            </a>
        </td>
        <td>{{ artist.genre.all|join:"," }}</td>
        <td>
          {{ artist.concert_count }}
        </td>
        <td>
        {% for gf in artist.gigfinderurl_set.all %}
          <a target="_blank" href="{{ gf.url }}">
              {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ gf.gigfinder }}.png" alt="{{ gf.gigfinder }}" />
          </a>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% load my_tags %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>
        {% if page_obj.previous_page_number != 1 %}
          <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
        {% endif %}
      {% endif %}

      Page {{ page_obj.number }} of {{ paginator.num_pages }}

      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != paginator.num_pages %}
          <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
        {% endif %}
        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
      {% endif %}

      <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }} of {{ num_artists }}</p>
    {% endif %}
  {% else %}
    <p>There are no artists in the library.</p>
  {% endif %}

{% endblock %}