{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>
  {% if artist_list %}
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Gigfinders</th>
      <th>Musicbrainz</th>
    </tr>
    {% for artist in artist_list %}
      <tr>
        <td><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a> (<i>{{ artist.disambiguation }}</i>)</td>
        <td>
        {% for gf in artist.gigfinderurl_set.all %}
          <a href="{{ gf.url }}">{{ gf.gigfinder }}</a>
        {% endfor %}
        </td>
        <td><a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">link to musicbrainz</a></td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no artists in the library.</p>
  {% endif %}

<a href="/hlwtadmin/artists/?filter=">Show all</a>
<a href="/hlwtadmin/artists/?filter=a">A</a>
<a href="/hlwtadmin/artists/?filter=b">B</a>
<a href="/hlwtadmin/artists/?filter=c">C</a>
<a href="/hlwtadmin/artists/?filter=d">D</a>
<a href="/hlwtadmin/artists/?filter=e">E</a>
<a href="/hlwtadmin/artists/?filter=f">F</a>
<a href="/hlwtadmin/artists/?filter=g">G</a>
<a href="/hlwtadmin/artists/?filter=h">H</a>
<a href="/hlwtadmin/artists/?filter=i">I</a>
<a href="/hlwtadmin/artists/?filter=j">J</a>
<a href="/hlwtadmin/artists/?filter=k">K</a>
<a href="/hlwtadmin/artists/?filter=l">L</a>
<a href="/hlwtadmin/artists/?filter=m">M</a>
<a href="/hlwtadmin/artists/?filter=n">N</a>
<a href="/hlwtadmin/artists/?filter=o">O</a>
<a href="/hlwtadmin/artists/?filter=p">P</a>
<a href="/hlwtadmin/artists/?filter=q">Q</a>
<a href="/hlwtadmin/artists/?filter=r">R</a>
<a href="/hlwtadmin/artists/?filter=s">S</a>
<a href="/hlwtadmin/artists/?filter=t">T</a>
<a href="/hlwtadmin/artists/?filter=u">U</a>
<a href="/hlwtadmin/artists/?filter=v">V</a>
<a href="/hlwtadmin/artists/?filter=w">W</a>
<a href="/hlwtadmin/artists/?filter=x">X</a>
<a href="/hlwtadmin/artists/?filter=y">Y</a>
<a href="/hlwtadmin/artists/?filter=z">Z</a>

{% endblock %}