{% extends "base_generic.html" %}

{% block content %}
    <h1>Artist: {{ artist.name }}
        <a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">
            {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/musicbrainz.png' %}" alt="{{ artist.name }}" />
        </a>
    </h1>

    <div style="margin-left:20px;margin-top:20px">
        <ul>
            <li>Disambiguation: {{ artist.disambiguation }}</li>
            <li>Is on include list: {{ artist.include }}</li>
            <li>Is on exclude list: {{ artist.exclude }}</li>
        </ul>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Concerts</h4>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Main organisation</th>
                <th>Announcement</th>
            </tr>
            {% for relation in artist.relationconcertartist_set.all %}
              {% if relation.concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
                  <td>
                      <a href="{% url 'concert_detail' relation.concert.id %}">{{ relation.concert.date }}</a>
                  </td>
                  <td>
                      <a href="{% url 'organisation_detail' relation.concert.relationconcertorganisation_set.first.organisation.id %}">
                          {{ relation.concert.relationconcertorganisation_set.first.organisation }}
                      </a>
                      {% if relation.concert.relationconcertorganisation_set.first.organisation.location %}
                        in <a href="{% url 'location_detail' relation.concert.relationconcertorganisation_set.first.organisation.location.id %}">
                            {{ relation.concert.relationconcertorganisation_set.first.organisation.location }}
                        </a>
                      {% endif %}
                  </td>
                  <td>
                      {% for ca in relation.concert.concertannouncement_set.all %}
                          <a href="{% url 'concertannouncement_detail' ca.id %}">{{ ca.title }}</a>
                          <a href="https://facebook.com/events/{{ ca.gigfinder_concert_id }}">
                          {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" /></a>
                      {% endfor %}
                  </td>
              </tr>
            {% endfor %}
        </table>

    </div>
    <div style="margin-left:20px;margin-top:20px">

        <h4>Related artists</h4>
        <ul>
            {% for relation in artist.artista.all %}
              <li>
                  {{ artist.name }} {{ relation.relation_type }} <a href="{{ relation.artist_b.mbid }}">{{ relation.artist_b.name }}</a>
                  {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                  {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.id %}">[delete relation]</a>{% endif %}
              </li>
            {% endfor %}
            {% for relation in artist.artistb.all %}
              <li>
                  Inverted relation: <a href="{{ relation.artist_a.mbid }}">{{ relation.artist_a.name }}</a> {{ relation.relation_type }} {{ artist.name }}
                  {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                  {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.id %}">[delete relation]</a>{% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <ul>
            <li>{% if perms.hlwtadmin.can_create_relationartistartist %}<a href="{% url 'relationartistartist_create' artist.mbid %}">Relate artist to another artist</a>{% endif %}</li>
            <li>{% if perms.hlwtadmin.can_update_artist %}<a href="{% url 'artist_update' artist.mbid %}">Update artist</a>{% endif %}</li>
        </ul>
    </div>
{% endblock %}