{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="/hlwtadmin/artists/">Artists</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">{% block title %}{{ artist.name }}{% endblock %}
                {% if artist.disambiguation %}<br/><small class="text-muted">{{ artist.disambiguation }}</small>{% endif%}
                <a target="_blank" href="https://musicbrainz.org/artist/{{ artist.mbid }}">{% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/musicbrainz.png' %}" alt="{{ artist.name }}" /></a>
            </h1>
            <p>Genre: {{ artist.genre.all|join:"," }}</p>
            <p id="myInfo" class="{{ artist.mbid }}"></p>
        </div>
        <a class="my-link col-md-4" target="_blank" href=""><img width="100%" src="" class="my-image" id="{{ artist.mbid }}"></a>
    </div>
</div>
<div class="mx-auto" style="width: 800px; text-align: center">
    <p>
        <a href="/hlwtadmin/artist/{{ artist.mbid }}">all concerts</a> |
        <a href="/hlwtadmin/artist/{{ artist.mbid }}?filter=abroad">concerts abroad</a> |
        <a href="/hlwtadmin/artist/{{ artist.mbid }}?filter=belgium">concerts in Belgium</a> |
        <a href="/hlwtadmin/artist/{{ artist.mbid }}?filter=cancelignore">cancelled or ignored concerts</a> | 
        <a href="/hlwtadmin/concertannouncements/?artist={{ artist.mbid }}">all announcements</a>
    </p>
</div>
<div class="container my-4">
    <p class="mx-auto" style="text-align: center">Amount of concerts shown {{ count }}</p>
    <table class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Organisation</th>
              <th scope="col">Gigfinders</th>
            </tr>
        </thead>
        {% for concert in object_list %}
        {% if concert.cancelled or concert.ignore %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
        <th scope="row">
            <a href="{{ concert.get_absolute_url }}">{{ concert.date }}{% if concert.until_date and concert.until_date != concert.date %} - <br/>{{ concert.until_date }}{% endif %}</a>
            {% if concert.verified %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
            <!--{% if not concert.is_confirmed and not concert.verified %}<br/><span class="badge badge-warning">Unconfirmed</span>{% endif %}-->
            {% if concert.is_new %}{% load static %}<br/><span class="badge badge-secondary">New</span>{% endif %}
        </th>
        <td valign="top">
            {% for relation in concert.organisationsqs %}
                {% if relation.organisation %}
                <a href="{% url 'organisation_detail' relation.organisation.id %}">{{ relation.organisation.name }}</a>
                {% else %}
                Missing organisation
                {% endif %}
                {% if relation.organisation.location %}
                <br>
                {{ relation.organisation.location }}
                {% load static %}<img title="{{ organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />
                {% if relation.organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
                {% endif %}
                <br>
          {% endfor %}
        </td>
        <td valign="top">
            {% for ca in concert.concertannouncements %}
            <a target="_blank" href="{{ ca.gigfinder.base_url }}{% if ca.gigfinder.name == 'podiumfestivalinfo' %} {{ ca.artist.name }} {{ ca.date }} 'site:podiuminfo.nl'  {% else %}{{ ca.gigfinder_concert_id }}{% endif %}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" />
            </a>
            <a href="{% url 'concertannouncement_detail' ca.pk %}" title="{{ ca }}">{{ ca|truncatechars:30 }}</a>
            {% if not ca.recently_seen %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/skulnbones.png' %}" alt="not recently seen" />{% endif %}
            </br>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% load my_tags %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}<li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">previous</a></li>{% endif %}
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">next</a></li>{% endif %}
        </ul>
    </nav>
</div>

<div class="container my-4">
    <h4 class="display-4">More information</h4>
    <div class="card-columns">
        {% if artist.artista.all or artist.artistb.all %}
        <div class="card">
            <h5 class="card-header">Related artists</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for relation in artist.artista.all %}
                      <li class="list-group-item">
                          {{ artist.name }} {{ relation.relation_type.all|join:", " }} <a href="{{ relation.artist_b.mbid }}">{{ relation.artist_b.name }}</a> ({{ relation.startdate }} - {{ relation.enddate }})
                          {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                          {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.mbid %}">[delete relation]</a>{% endif %}
                      </li>
                    {% endfor %}
                    {% for relation in artist.artistb.all %}
                      <li class="list-group-item">
                          <a href="{{ relation.artist_a.mbid }}">{{ relation.artist_a.name }}</a> {{ relation.relation_type.all|join:", " }} {{ artist.name }} ({{ relation.startdate }} - {{ relation.enddate }})
                          {% if perms.hlwtadmin.can_update_relationartistartist %}<a href="{% url 'relationartistartist_update' relation.id %}">[update relation]</a>{% endif %}
                          {% if perms.hlwtadmin.can_delete_relationartistartist %}<a href="{% url 'relationartistartist_delete' relation.id artist.mbid %}">[delete relation]</a>{% endif %}
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="card">
            <h5 class="card-header">Top 5 artists that performed in same organisations</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for p in artist.find_similar_artists %}
                    <li class="list-group-item">
                        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Statistics</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ artist.name }} performed {{ artist.concert_count }} concerts between {{ artist.period }}
                    </li>
                    <li class="list-group-item">{% for d in artist.concerts_in_countries %}
                        {{ d.0 }} ({{ d.1 }})
                    {% endfor %}</li>
                </ul>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="card">
            <h5 class="card-header">Technical details</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Is on include list: {{ artist.include }}</li>
                <li class="list-group-item">Is on exclude list: {{ artist.exclude }}</li>
            </ul>
        </div>

        {% for gigfinderurl in artist.gigfinderurl_set.all %}
        <div class="card">
            <h5 class="card-header">{{ gigfinderurl.gigfinder }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ gigfinderurl.url}}">{{ gigfinderurl.url }}</a></li>
                <li class="list-group-item">Last synchronized with Musicbrainz: {{ gigfinderurl.last_confirmed_by_musicbrainz }}</li>
                <li class="list-group-item">Last synchronized with Gigfinder: {{ gigfinderurl.last_synchronized }}</li>
            </ul>
        </div>
        {% endfor %}

        {% endif %}
    </div>
</div>

<div class="container my-4">
    {% if user.is_authenticated %}
    <h4 class="display-4">Administration</h4>
    <div class="card">
        <h5 class="card-header">Actions</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% if perms.hlwtadmin.can_create_relationartistartist %}<li class="list-group-item"><a href="{% url 'relationartistartist_create' artist.mbid %}">Relate artist to another artist</a></li>{% endif %}
                    {% if perms.hlwtadmin.can_update_artist %}<li class="list-group-item"><a href="{% url 'artist_update' artist.mbid %}">Update artist</a></li>{% endif %}
                    <li class="list-group-item"><a href="{% url 'concertannouncements' %}?filter={{ artist.name}} ">See concertannouncements by this artist</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    var myImage = document.querySelector('.my-image');
    var myLink = document.querySelector('.my-link');
    function makeSPARQLQuery( endpointUrl, sparqlQuery, doneCallback ) {
        var settings = {
            headers: { Accept: 'application/sparql-results+json' },
            data: { query: sparqlQuery }
        };
        return $.ajax( endpointUrl, settings ).then( doneCallback );
    }

    var endpointUrl = 'https://query.wikidata.org/sparql',
        sparqlQuery = "SELECT ?artist ?image\n" +
            "WHERE {\n" +
            "  ?artist wdt:P18 ?image.\n" +
            "  ?artist wdt:P434 \"" + myImage.id + "\".\n" +
            "}";

    makeSPARQLQuery( endpointUrl, sparqlQuery, function( data ) {
            myImage.src = data["results"]["bindings"][0]["image"]["value"];
            myLink.href = data["results"]["bindings"][0]["artist"]["value"];
        }
    );
 </script>

<script>
  var span = document.getElementById("myInfo");
  var mbid = span.getAttributeNode("class").value;
  console.log(mbid);

  async function get() {
    const response = await fetch("http://musicbrainz.org/ws/2/artist/"+ mbid + "?inc=url-rels&fmt=json");
    const myJson = await response.json();
    myJson["relations"].forEach(function(reference) {
        var createA = document.createElement('a');
        var createAText = document.createTextNode(reference["type"]);
        createA.setAttribute('href', reference["url"]["resource"]);
        createA.setAttribute('target', '_blank');
        createA.setAttribute('class', "btn btn-primary btn-sm mx-1 my-1");
        createA.appendChild(createAText);
        span.appendChild(createA);

    });
  }
  var mb = get()

</script>
{% endblock javascript %}
