{% extends "base_generic.html" %}

{% block content %}
  <h1>Concert List</h1>
  {% if concert_list %}
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Artist</th>
      <th>Organisation</th>
      <th>Genre</th>
      <th>Gigfinders</th>
    </tr>
    {% for concert in concert_list %}
      <tr>
        <td>
          {% if concert.is_new %}
            {% load static %}<img style="border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/new.gif' %}" />
          {% endif %}
          <a href="{{ concert.get_absolute_url }}">{{ concert.date }}</a>
        </td>
        <td>
          {% for relation in concert.relationconcertartist_set.all %}
            <a href="{% url 'artist_detail' relation.artist.mbid %}">{{ relation.artist.name }}</a>
          {% endfor %}
        </td>
        <td>
          {% for relation in concert.relationconcertorganisation_set.all %}
            <a href="{% url 'organisation_detail' relation.organisation.id %}">{{ relation.organisation.name }}</a>
            ({{ relation.organisation.location }}
            {% if relation.organisation.location %}
              {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />
            {% endif %}
            )
          {% endfor %}
        </td>
        <td>{{ concert.genre.all|join:"," }}</td>
        <td>
          {% for ca in concert.concertannouncement_set.all %}
            <a target="_blank" href="{{ ca.gigfinder.base_url }}{{ ca.gigfinder_concert_id }}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" />
            </a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no concerts in the library.</p>
  {% endif %}
{% endblock %}