{% extends "base_generic.html" %}

{% block title %}Concert: {{ concert.title }}{% endblock %}

{% block content %}
<div class="jumbotron my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="/hlwtadmin/concerts/">Concerts</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ concert.date }} | {{ concert.artists }} | {{ concert.organisations }}</li>
      </ol>
    </nav>
    <div class="card-deck">
        <div class="card">
            <ul class="list-group list-group-flush">
                {% if concert.artistsqs %}
                    {% for relation in concert.artistsqs %}
                        <li class="list-group-item">
                          <h3 class="card-title">
                              <a href="{% url 'artist_detail' relation.artist.mbid %}">{{ relation.artist.name }}</a>
                              {% if perms.hlwtadmin.can_update_relationconcerartist %}<a href="{% url 'relationconcertartist_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                              {% if perms.hlwtadmin.can_delete_relationconcerartist %}<a href="{% url 'relationconcertartist_delete' relation.id concert.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                          </h3>
                          {% if relation.artist_credited_as %}
                          <small class="text-muted">
                            (credited as "{{ relation.artist_credited_as }}")
                          </small>
                          {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    {% if perms.hlwtadmin.can_create_relationconcertartist %}<li class="list-group-item">No artist <a href="{% url 'relationconcertartist_create' concert.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="add artist"></a></li>{% endif %}
                {% endif %}
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3 class="card-title">{{ concert.date|date:"l" }}<br/>{{ concert.date|date:"F" }} {{ concert.date|date:"d" }}<br/>{{ concert.date|date:"Y" }}<br/><small class="text-muted">{% if concert.until_date and concert.until_date != concert.date %}(until {{ concert.until_date|date:"F d" }}){% endif %}</small></h3>
                    <small class="text-muted">
                        {% if concert.verified %}{% load static %}<img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% else %}Not verified{% endif %}
                        {% if concert.manual %}{% load static %}<img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/manual.png' %}" alt="manual" />{% endif %}
                        {% if concert.cancelled %}(Cancelled){% endif %}
                    </small>
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                {% if concert.organisationsqs %}
                    {% for relation in concert.organisationsqs %}
                        <li class="list-group-item">
                            <h3 class="card-title">
                                {{ relation.relation_type.all|join:"," }}
                                {% if relation.organisation %}
                                    <a href="{% url 'organisation_detail' relation.organisation.pk %}">{{ relation.organisation.name }}</a>
                                {% else %}
                                    Missing organisation
                                {% endif %}
                                <small class="text-muted">
                                    {% if perms.hlwtadmin.can_update_relationconcertorganisation %}<a href="{% url 'relationconcertorganisation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                                    {% if perms.hlwtadmin.can_delete_relationconcertorganisation %}<a href="{% url 'relationconcertorganisation_delete' relation.id concert.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                                </small>
                            </h3>
                            <small class="text-muted">
                                {% if relation.organisation_credited_as %}(credited as "{{ relation.organisation_credited_as }}"){% endif %}
                                {% if relation.organisation.location %}in <a href="{% url 'location_detail' relation.organisation.location.id %}">{{ relation.organisation.location }}</a> {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />{% endif %}
                                {% if relation.organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
                            </small>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if perms.hlwtadmin.can_create_relationconcertorganisation %}<li class="list-group-item">No organisation <a href="{% url 'relationconcertorganisation_create' concert.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a></li>{% endif %}
                {% endif %}
            </ul>
        </div>


        <div class="card">
            <div class="card-body">
            <h5 class="card-title">previous</h5>
            <ul class="list-group list-group-flush">
            {% for relation in concert.artistsqs %}
                {% if relation.previous_concert_by_artist %}
                    {% if relation.previous_concert_by_artist.previous_concert_by_artist %}
                        <li class="list-group-item">
                            <a href="{% url 'concert_detail' relation.previous_concert_by_artist.previous_concert_by_artist.concert.pk %}">
                                {{ relation.previous_concert_by_artist.previous_concert_by_artist.concert.date }}<br>
                                {{ relation.previous_concert_by_artist.previous_concert_by_artist.concert.organisations }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <a href="{% url 'concert_detail' relation.previous_concert_by_artist.concert.pk %}">
                            {{ relation.previous_concert_by_artist.concert.date }}<br>
                            {{ relation.previous_concert_by_artist.concert.organisations }}
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No previous concerts
                    </li>
                {% endif %}
                    </ul>
            {% endfor %}
            </div>

            <div class="card-body">
            <h5 class="card-title">same day</h5>
            <ul class="list-group list-group-flush">
            {% for relation in concert.artistsqs %}
                {% if relation.simultaneous_concerts_by_artist %}
                    {% for rel in relation.simultaneous_concerts_by_artist %}
                        <li class="list-group-item">
                            <a href="{% url 'concert_detail' rel.concert.pk %}">
                                {{ rel.concert.date }}<br>
                                {{ rel.concert.organisations }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No concerts on same day
                    </li>
                {% endif %}
                    </ul>
            {% endfor %}
            </div>

            <div class="card-body">
            <h5 class="card-title">next</h5>
            <ul class="list-group list-group-flush">
            {% for relation in concert.artistsqs %}
                {% if relation.next_concert_by_artist %}
                    <li class="list-group-item">
                        <a href="{% url 'concert_detail' relation.next_concert_by_artist.concert.pk %}">
                            {{ relation.next_concert_by_artist.concert.date }}<br>
                            {{ relation.next_concert_by_artist.concert.organisations }}
                        </a>
                    </li>
                    {% if relation.next_concert_by_artist.next_concert_by_artist %}
                        <li class="list-group-item">
                            <a href="{% url 'concert_detail' relation.next_concert_by_artist.next_concert_by_artist.concert.pk %}">
                                {{ relation.next_concert_by_artist.next_concert_by_artist.concert.date }}<br>
                                {{ relation.next_concert_by_artist.next_concert_by_artist.concert.organisations }}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">
                        No next concerts
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            </div>
        </div>

        {% if concert.find_concurring_concerts.all %}
        <div class="card">
            <h5 class="card-header">Together with</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for c in concert.find_concurring_concerts.all %}
                        <li class="list-group-item">
                            <a href="{% url 'concert_detail' c.id %}">
                            {% for relation in c.relationconcertartist_set.all %}
                                {{ relation.artist }}
                            {% endfor %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container my-4">
    <h4 class="display-4">More information</h4>
<div class="card-columns">
    {% if concert.concerta.all or concert.concertb.all %}
    <div class="card">
        <h5 class="card-header">Related concerts</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for relation in concert.concerta.all %}
                  <li class="list-group-item">
                      {{ concert.title }} {{ relation.relation_type.all|join:" and " }} <a href="{{ relation.concert_b.id }}">{{ relation.concert_b.title }}</a>
                      {% if perms.hlwtadmin.can_update_relationconcertconcert %}<a href="{% url 'relationconcertconcert_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                      {% if perms.hlwtadmin.can_delete_relationconcertconcert %}<a href="{% url 'relationconcertconcert_delete' relation.id concert.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                  </li>
                {% endfor %}
                {% for relation in concert.concertb.all %}
                  <li class="list-group-item">
                      Inverted relation: <a href="{{ relation.concert_a.id }}">{{ relation.concert_a.title }}</a> {{ relation.relation_type.all|join:", " }} {{ concert.title }}
                      {% if perms.hlwtadmin.can_update_relationconcertconcert %}<a href="{% url 'relationconcertconcert_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                      {% if perms.hlwtadmin.can_delete_relationconcertconcert %}<a href="{% url 'relationconcertconcert_delete' relation.id concert.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    {% endif %}

    {% if concert.concertannouncements %}
    <div class="card">
        <h5 class="card-header">Based on</h5>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for relation in concert.concertannouncements %}
                <li class="list-group-item">
                    <a target="_blank" href="{{ relation.gigfinder.base_url }}{% if relation.gigfinder.name == 'podiumfestivalinfo' %} {{ relation.artist.name }} {{ relation.date }} 'site:podiuminfo.nl'  {% else %}{{ relation.gigfinder_concert_id }}{% endif %}">{% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ relation.gigfinder }}.png" alt="{{ relation.gigfinder }}" /></a> -
                    <a href="{% url 'concertannouncement_detail' relation.id %}">{{ relation.title }}</a> with venue
                    <a href="{% url 'venue_detail' relation.raw_venue.id %}">{{ relation.raw_venue }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="card">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>Title</td>
                    <td>{{ concert.title }}</td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>{{ concert.genre.all|join:","}}</td>
                </tr>
                <tr>
                    <td>GPS</td>
                    <td>{{ concert.latitude }}, {{ concert.longitude }}</td>
                </tr>
                <tr>
                    <td>Annotation</td>
                    <td>{{ concert.annotation }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Technical details</h5>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>Manual?</td>
                    <td>{{ concert.manual }}</td>
                </tr>
                <tr>
                    <td>Cancelled</td>
                    <td>{{ concert.cancelled }}</td>
                </tr>
                <tr>
                    <td>Ignore</td>
                    <td>{{ concert.ignore }}</td>
                </tr>
                <tr>
                    <td>Verified</td>
                    <td>{{ concert.verified }}</td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ concert.created_at }}</td>
                </tr>
                <tr>
                    <td>Updated at</td>
                    <td>{{ concert.updated_at }}</td>
                </tr>
            </table>
        </div>
    </div>

    {% if concert.find_concerts_in_same_city_on_same_day.all %}
        <div class="card">
            <h5 class="card-header">Elsewhere in the city that day</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for c in concert.find_concerts_in_same_city_on_same_day.all %}
                        <li class="list-group-item">
                            <a href="{% url 'concert_detail' c.id %}">
                            {% for relation in c.relationconcertartist_set.all %}
                                {{ relation.artist }} in {{ c.organisations }}
                            {% endfor %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
</div>
</div>

{% if user.is_authenticated %}

<div class="container my-4">
    <h4 class="display-4">Administration</h4>
    <div class="card-columns">
    <div class="card">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if perms.hlwtadmin.can_update_concert %}<li class="list-group-item"><a href="{% url 'concert_update' concert.id %}" class="concert-update">Update this concert</a></li>{% endif %}
                {% if perms.hlwtadmin.can_create_relationconcertorganisation %}<li class="list-group-item"><a href="{% url 'relationconcertorganisation_create' concert.id %}">Relate this concert to an organisation</a></li>{% endif %}
                {% if perms.hlwtadmin.can_create_relationconcertartist %}<li class="list-group-item"><a href="{% url 'relationconcertartist_create' concert.id %}">Relate this concert to an artist</a></li>{% endif %}
                {% if perms.hlwtadmin.can_create_relationartistartist %}<li class="list-group-item"><a href="{% url 'relationconcertconcert_create' concert.id %}">Relate concert to another concert</a></li>{% endif %}
            </ul>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Special actions</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if perms.hlwtadmin.can_delete_concert %}<li class="list-group-item"><a href="{% url 'concert_delete_with_ca_on_ignore' concert.id 1 %}">Delete this concert, and the relations to artists and organisations, and set all related announcements on ignore.</a>{% endif %}
                {% if perms.hlwtadmin.can_delete_concert %}<li class="list-group-item"><a href="{% url 'concert_delete_with_ca_on_ignore' concert.id 2 %}">Delete this concert, and the relations to artists and organisations, and delete the related announcements.</a></li>{% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
</div>


<!--<div class="modal fade" tabindex="-1" role="dialog" id="modal">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}

<!--{% block javascript %}-->
<!--<script type="text/javascript">-->
<!--$(document).ready(function() {-->

<!--    $(".concert-update").modalForm({-->
<!--        formURL: "{% url 'concert_update' concert.id %}"-->
<!--    });-->

<!--});-->
<!--</script>-->
<!--{% endblock %}-->