{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Concert announcement: {{ concertannouncement.title }}{% endblock %}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p>Related artist: {% if concertannouncement.artist %} <a href="{% url 'artist_detail' concertannouncement.artist.mbid %}">{{ concertannouncement.artist }}</a> {% endif %}</p>
        <p>Date: {{ concertannouncement.date }}, Time: {{ concertannouncement.time }}</p>
        <p>Gigfinder: <a target="_blank" href="{{ concertannouncement.gigfinder.base_url}}{{ concertannouncement.gigfinder_concert_id }}">{% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ concertannouncement.gigfinder }}.png" alt="{{ concertannouncement.gigfinder }}" /></a></p>
        <p>Last seen on: {{ concertannouncement.last_seen_on }}</p>
        <p>Created at: {{ concertannouncement.created_at }}</p>
        <p>Updated at: {{ concertannouncement.updated_at }}</p>
        <p>Ignore: {{ concertannouncement.ignore }}</p>
        <p>Venue: {% if concertannouncement.raw_venue %} <a href="{% url 'venue_detail' concertannouncement.raw_venue.id %}">{{ concertannouncement.raw_venue }} </a> {% endif %}</p>
        <p>GPS: {{ concertannouncement.latitude }}, {{ concertannouncement.longitude }}</p>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Related concert</h4>
        {% if concertannouncement.concert %}
            <a href="{% url 'concert_detail' concertannouncement.concert.id %}">{{ concertannouncement.concert }}</a>
        {% endif %}
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <ul>
            {% if perms.hlwtadmin.can_update_concertannouncement %}<li><a href="{% url 'concertannouncement_update' concertannouncement.id %}">Update this concert announcement</a></li>{% endif %}
        </ul>
    </div>

{% endblock %}
