{% extends "base_generic.html" %}

{% block content %}
  <h1>Concert Announcement List</h1>
  {% if concertannouncement_list %}
  <ul>
    {% for concertannouncement in concertannouncement_list %}
      <li>
        <a href="{{ concertannouncement.get_absolute_url }}">{{ concertannouncement.title }}</a> ({{ concertannouncement.date }} -- {{ concertannouncement.until_date }})
      </li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% else %}
    <p>There are no concertannouncements in the library.</p>
  {% endif %}
{% endblock %}