{% extends "base_generic.html" %}

{% block content %}
  <h1>Concert List</h1>
  {% if request.path == '/hlwtadmin/concerts/'%}
    <form method="get" action="{% url 'concerts' %}">
        <p>
            <label for="filter_start">From:</label>
            <input type="date" id="filter_start" name="filter_start">
            <label for="filter_end">From:</label>
            <input type="date" id="filter_end" name="filter_end">
        </p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>
  {% endif %}

  {% if concert_list %}
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Artist</th>
      <th>Organisation</th>
      <th>Genre</th>
      <th>Gigfinders</th>
    </tr>
    {% for concert in concert_list %}
      {% if concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
        <td valign="top">
          {% if concert.is_new %}{% load static %}<img style="border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/new.gif' %}" />{% endif %}
          {% if concert.is_upcoming %}{% load static %}<img style="width: 46px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/coming.gif' %}" />{% endif %}
          <a href="{{ concert.get_absolute_url }}">{{ concert.date }}</a>
          {% if concert.verified %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
          {% if not concert.is_confirmed and not concert.verified %}(Unconfirmed){% endif %}
        </td>
        <td valign="top">
          {% for relation in concert.relationconcertartist_set.all %}
            <a href="{% url 'artist_detail' relation.artist.mbid %}">{{ relation.artist.name }}</a><br>
          {% endfor %}
        </td>
        <td valign="top">
          {% for relation in concert.relationconcertorganisation_set.all %}
            {% if relation.organisation %}
              <a href="{% url 'organisation_detail' relation.organisation.id %}">{{ relation.organisation.name }}</a>
            {% else %}
              Missing organisation
            {% endif %}
            {% if relation.organisation.location %}
              <br>
              {{ relation.organisation.location }}
              {% load static %}<img title="{{ organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />
              {% if relation.organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
            {% endif %}
            <br>
          {% endfor %}
        </td>
        <td valign="top">{{ concert.genre.all|join:"<br>" }}</td>
        <td valign="top">
          {% for ca in concert.concertannouncement_set.all %}
            {% if ca.deleted is not True %}
            <a target="_blank" href="{{ ca.gigfinder.base_url }}{{ ca.gigfinder_concert_id }}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" />
            </a>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% load my_tags %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>
        {% if page_obj.previous_page_number != 1 %}
          <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
        {% endif %}
      {% endif %}

      Page {{ page_obj.number }} of {{ paginator.num_pages }}

      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != paginator.num_pages %}
          <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
        {% endif %}
        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
      {% endif %}

      <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }} of {{ num_concerts }}</p>
    {% endif %}
  {% else %}
    <p>There are no concerts in the library.</p>
  {% endif %}
{% endblock %}