{% extends "base_generic.html" %}

{% block content %}
    <h1>Concert announcement: {{ concertannouncement.title }}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p>Related artist: {% if concertannouncement.artist %} <a href="{% url 'artist_detail' concertannouncement.artist.mbid %}">{{ concertannouncement.artist }}</a> {% endif %}</p>
        <p>Date: {{ concertannouncement.date }}, Time: {{ concertannouncement.time }}</p>
        <p>Gigfinder: {{ concertannouncement.gigfinder }}, {{ concertannouncement.gigfinder_artist_name }}, {{ concertannouncement.gigfinder_concert_id }}</p>
        <p>Last seen on: {{ concertannouncement.last_seen_on }}</p>
        <p>Ignore: {{ concertannouncement.ignore }}</p>
        <p>Venue: {% if concertannouncement.raw_venue %} <a href="{% url 'venue_detail' concertannouncement.raw_venue.id %}">{{ concertannouncement.raw_venue }} </a> {% endif %}</p>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Related concert</h4>
        {% if concertannouncement.concert %}
            <a href="{% url 'concert_detail' concertannouncement.concert.id %}">{{ concertannouncement.concert }}</a>
        {% endif %}
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <ul>
            {% if perms.hlwtadmin.can_update_concertannouncement %}<li><a href="{% url 'concertannouncement_update' concertannouncement.id %}">Update this concert announcement</a></li>{% endif %}
        </ul>
    </div>

{% endblock %}
