{% extends "base_generic.html" %}

{% block content %}
  <h1>Concert List</h1>
  {% if concert_list %}
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Artist</th>
      <th>Organisation</th>
      <th>Genre</th>
      <th>Gigfinders</th>
    </tr>
    {% for concert in concert_list %}
      {% if concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
        <td valign="top">
          {% if concert.is_new %}{% load static %}<img style="border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/new.gif' %}" />{% endif %}
          {% if concert.is_upcoming %}{% load static %}<img style="width: 46px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/coming.gif' %}" />{% endif %}
          <a href="{{ concert.get_absolute_url }}">{{ concert.date }}</a>
          {% if concert.verified %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
        </td>
        <td valign="top">
          {% for relation in concert.relationconcertartist_set.all %}
            <a href="{% url 'artist_detail' relation.artist.mbid %}">{{ relation.artist.name }}</a><br>
          {% endfor %}
        </td>
        <td valign="top">
          {% for relation in concert.relationconcertorganisation_set.all %}
            {% if relation.organisation %}
              <a href="{% url 'organisation_detail' relation.organisation.id %}">{{ relation.organisation.name }}</a>
            {% else %}
              Missing organisation
            {% endif %}
            {% if relation.organisation.location %}
              <br>
              {{ relation.organisation.location.city }}{% if relation.organisation.location.subcountry %}, {{ relation.organisation.location.subcountry }}{% endif %}
              {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />
            {% endif %}
            <br>
          {% endfor %}
        </td>
        <td valign="top">{{ concert.genre.all|join:"<br>" }}</td>
        <td valign="top">
          {% for ca in concert.concertannouncement_set.all %}
            <a target="_blank" href="{{ ca.gigfinder.base_url }}{{ ca.gigfinder_concert_id }}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" />
            </a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% else %}
    <p>There are no concerts in the library.</p>
  {% endif %}
{% endblock %}