{% extends "base_generic.html" %}

{% block title %}Concert edit: {{ concert }} {% endblock %}

{% block content %}
<h1>Create/update a Concert</h1>
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %} mb-1">
            <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <input type="submit" value="submit">
        </div>
    </form>

{% endblock %}
