{% extends "base_generic.html" %}

{% block content %}
  <h1>Gigfinder URL List</h1>
  {% if gigfinderurl_list %}
  <table border=1>
      <tr>
          <th>Gigfinder URL</th>
          <th>Last confirmed from MB</th>
          <th>Last Synchronized</th>
      </tr>
    {% for gigfinderurl in gigfinderurl_list %}
      <tr>
          <td>{{ gigfinderurl }}</td>
          <td>{{ gigfinderurl.last_confirmed_by_musicbrainz }}</td>
          <td>{{ gigfinderurl.last_synchronized }}</td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% else %}
    <p>There are no gigfinderurls in the library.</p>
  {% endif %}
{% endblock %}