{% extends "base_generic.html" %}

{% block content %}
  <h1>Location List</h1>

    <form method="get" action="{% url 'locations' %}">
        <p>Filter: <input type="text" value={{filter}} name="filter"/></p>
        <p>order_by: <input type="text" value={{orderby}} name="orderby"/></p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>

  {% if location_list %}
  <ul>
    {% for location in location_list %}
      <li>
        <a href="{{ location.get_absolute_url }}">{{ location }}</a>
          {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ location.country.iso_code }}.png" />
          {% if location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
          ({{ location.organisation_set.count }})
      </li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% else %}
    <p>There are no locations in the library.</p>
  {% endif %}
{% endblock %}