{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Location: {{ location }}{% endblock %} {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ location.country.iso_code }}.png" />
    {% if location.verified %}{% load static %}<img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p>Zipcode: {{ location.zipcode }}</p>
        <p>GPS: {{ location.latitude }}, {{ location.longitude }}</p>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Organisations</h4>
        <ul>
            {% for organisation in object_list %}
              <li>
                  <a href="{% url 'organisation_detail' organisation.id %}">{{ organisation.name }}</a>
              </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <ul>
            {% if perms.hlwtadmin.can_update_location %}<li><a href="{% url 'location_update' location.id %}">Update this location</a></li>{% endif %}
        </ul>
    </div>

{% endblock %}