{% extends "base_generic.html" %}

{% block content %}
    <div class="jumbotron my-4">
        <h1 class="jumbotron-heading">Location List</h1>
        <p class="lead">This page provides an overview of locations in Have Love, Will Travel.</p>
        <hr class="my-4">
        <p>It shows whether or not the location is verified, and it indicates the amount of organisations in the location.</p>
            <form method="get" action="{% url 'locations' %}">
                <div class="form-group">
                    <label for="filtersearch">Search a city</label>
                    <input class="form-control" type="text" placeholder="Enter the name of a city" id="filtersearch" name="filtersearch"/>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="filter">Filter on country</label>
                            <select class="form-control" id="filter" name="filter">
                                <option value="">No selection</option>
                                {% for country in countries %}
                                    <option value="{{ country.name }}"{% if country.name == filter %} selected {% endif %}>{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="orderby">Order by</label>
                            <select class="form-control" id="orderby" name="orderby">
                                <option value="city">Order by city name</option>
                                <option value="verified">Order by verified status</option>
                                <option value="-num_organisations">Order by amount of organisations per location</option>
                                <option value="subcountry">Order by subcountry</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
                </div>
            </form>
    </div>

{% if location_list %}
<div class="container my-4">
  <ul class="list-group-flush card-columns">
    {% for location in location_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
                <a href="{{ location.get_absolute_url }}">{{ location.city }}</a> {% if location.zipcode %}<span class="text-muted"><em>({{ location.zipcode }})</em></span>{% endif %}
                {% if location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
                <span class="badge badge-primary badge-pill">{{ location.organisation_set.count }}</span><br/>
                {% if location.subcountry %}<span class="text-muted"><em>{{ location.subcountry }},</em></span>{% endif %}
                <span class="text-muted"><em>{{ location.country.name }}</em></span>
                {% load static %}<img title="{{ location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ location.country.iso_code }}.png" />
              </span>
      </li>
    {% endfor %}
  </ul>

    {% load my_tags %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">First</a></li>
            {% if page_obj.previous_page_number != 1 %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
            {% endif %}
            {% endif %}

            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>

            {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

  {% else %}
    <p>There are no locations in the library.</p>
  {% endif %}
</div>
{% endblock %}