{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="/hlwtadmin/locations/">Locations</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ location }}</li>
      </ol>
    </nav>
    <h1 class="display-4">{% block title %}{{ location.city }}{% endblock %}
        <small class="text-muted">{% load static %}
            {% if location.verified %}{% load static %}
            <img style="width: 25px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />
            {% endif %}
        </small>
    </h1>
    <p class="lead">in {{ location.subcountry }}, <a href="{% url 'locations' %}?filter={{ location.country.name }}&orderby=city" >{{ location.country.name }} <img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ location.country.iso_code }}.png" /></a></p>
    <p>Zipcode: {{ location.zipcode }}, GPS: {{ location.latitude }}, {{ location.longitude }}</p>
    <p>Disambiguation: {{ location.disambiguation }}</p>
    <p>
        <a href="{% url 'concerts' %}?location={{ location.pk }}">See concerts in this city</a>
    </p>
        <form method="get" action="{% url 'location_detail' location.id %}">
            <div class="form-group">
                <label for="orderby">Order organisations</label>
                <select class="form-control" id="orderby" name="orderby">
                    <option value="name">Order by organisation name</option>
                    <option value="-num_concerts">Order by amount of concerts per organisation</option>
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
            </div>
        </form>
</div>
<div class="container my-6">
    <ul class="list-group list-group-flush">
        {% for organisation in object_list %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'organisation_detail' organisation.id %}">{{ organisation.name }}</a>
              {% if organisation.location != location%}<span class="text-muted">{{ organisation.location }}</span>{% endif %}
              <span class="badge badge-primary badge-pill">{{ organisation.num_concerts }}</span>
          </li>
        {% endfor %}
    </ul>
</div>
{% load my_tags %}

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">First</a></li>
    {% if page_obj.previous_page_number != 1 %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
    {% endif %}
  {% endif %}

        <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a></li>
    {% endif %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Last</a></li>
    {% endif %}

    </ul>
</nav>
{% endif %}

<div class="container my-4">
    <h4 class="display-4">More information</h4>
    <div class="card-columns">

        {% if location.locationa.all or location.locationb.all %}
        <div class="card">
            <h5 class="card-header">Related location</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for relation in location.locationa.all %}
                      <li class="list-group-item">
                          {{ location.city }} {{ relation.relation_type.all|join:" and " }} <a href="{{ relation.location_b.id }}">{{ relation.location_b.city }} in {{ relation.location_b.subcountry }}, {{ relation.location_b.country.name }}</a>
                          {% if perms.hlwtadmin.can_update_relationlocationlocation %}<a href="{% url 'relationlocationlocation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                          {% if perms.hlwtadmin.can_delete_relationlocationlocation %}<a href="{% url 'relationlocationlocation_delete' relation.id location.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                      </li>
                    {% endfor %}
                    {% for relation in location.locationb.all %}
                      <li class="list-group-item">
                          <a href="{{ relation.location_a.id }}">{{ relation.location_a.city }} in {{ relation.location_a.subcountry }}, {{ relation.location_a.country.name }}</a> {{ relation.relation_type.all|join:", " }} {{ location.city }}
                          {% if perms.hlwtadmin.can_update_relationlocationlocation %}<a href="{% url 'relationlocationlocation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                          {% if perms.hlwtadmin.can_delete_relationlocationlocation %}<a href="{% url 'relationlocationlocation_delete' relation.id location.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container my-4">
    <h4 class="display-4">Administration</h4>
    {% if user.is_authenticated %}
    <div class="card">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if perms.hlwtadmin.change_location %}<li class="list-group-item"><a href="{% url 'location_update' location.id %}">Update this location</a></li>{% endif %}
                {% if perms.hlwtadmin.create_relationlocationlocation %}<li class="list-group-item"><a href="{% url 'relationlocationlocation_create' location.id %}">Relate location to another location</a></li>{% endif %}
                {% if perms.hlwtadmin.delete_location %}<li class="list-group-item"><a href="{% url 'location_delete' location.id %}">Delete this location</a></li>{% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}