{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ musicbrainz.name }}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Concerts</h4>
        <ul>
            {% for relation in musicbrainz.relationconcertmusicbrainz_set.all %}
              <li>
                  <a href="{% url 'concert_detail' relation.concert.id %}">{{ relation.concert }}</a>
                  {% if perms.hlwtadmin.can_delete_relationconcertmusicbrainz %}<a href="{% url 'relationconcertmusicbrainz_delete' relation.id %}">[delete relation]</a>{% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}