{% extends "base_generic.html" %}

{% block content %}
  <h1>Organisation List</h1>
  {% if organisation_list %}
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Genre</th>
      <th>Location</th>
    </tr>
    {% for organisation in organisation_list %}
      <tr>
        <td>
          <a href="{{ organisation.get_absolute_url }}">{{ organisation.name }}</a> <i>({{ organisation.disambiguation }})</i>
        </td>
        <td>{{ organisation.organisation_type.all|join:"," }}</td>
        <td>{{ organisation.genre.all|join:"," }}</td>
        <td>{{ organisation.location }}
          {% if organisation.location %}
              {% load static %}<img title="{{ organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ organisation.location.country.iso_code }}.png" />
              {% if organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% else %}
    <p>There are no organisations in the library.</p>
  {% endif %}

{% endblock %}