{% extends "base_generic.html" %}

{% block content %}
  <h1>Organisation List</h1>

    <form method="get" action="{% url 'organisations' %}">
        <p>
            <label for="filter">Search term:</label>
            <input type="text" id="filter" name="filter"/>
        </p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>

  {% if organisation_list %}
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Genre</th>
      <th>Location</th>
    </tr>
    {% for organisation in organisation_list %}
      <tr>
        <td>
          <a href="{{ organisation.get_absolute_url }}">{{ organisation.name }}</a> <i>({{ organisation.disambiguation }})</i>
        </td>
        <td>{{ organisation.organisation_type.all|join:"," }}</td>
        <td>{{ organisation.genre.all|join:"," }}</td>
        <td>{{ organisation.location }}
          {% if organisation.location %}
              {% load static %}<img title="{{ organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ organisation.location.country.iso_code }}.png" />
              {% if organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% load my_tags %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>
        {% if page_obj.previous_page_number != 1 %}
          <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
        {% endif %}
      {% endif %}

      Page {{ page_obj.number }} of {{ paginator.num_pages }}

      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != paginator.num_pages %}
          <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
        {% endif %}
        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
      {% endif %}

      <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }} of {{ num_organisations }}</p>
    {% endif %}
  {% else %}
    <p>There are no organisations in the library.</p>
  {% endif %}

{% endblock %}