{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ organity.name }}</h1>

    <p>Address: {{ organity.address }}</p>
    <p>Type: {{ organity.organity_type.all|join:"," }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Related concerts</h4>
        <ul>
            {% for relation in organity.relationconcertorganity_set.all %}
                <li>
                    <a href="{% url 'concert_detail' relation.concert.id %}">{{ relation.concert }}</a>
                    <a href="{% url 'relationconcertorganity_update' relation.id %}">[Edit this relation]</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Related raw venues</h4>
        <ul>
            {% for relation in organity.rawvenue_set.all %}
                <li>
                    {{ relation.raw_venue }} <a href="{% url 'rawvenue_update' relation.id %}">[Relate this raw venue to another clean venue]</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <hr>
    <div style="margin-left:20px;margin-top:20px">
        {% if perms.hlwtadmin.can_delete_organity %}<a href="{% url 'organity_delete' organity.id %}">Delete this organity</a>{% endif %}
    </div>
{% endblock %}