{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Organisation: {{ organisation.name }}{% endblock %}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p>Location: {% if organisation.location %}<a href="{% url 'location_detail' organisation.location.id %}">{{ organisation.location }}</a> {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ organisation.location.country.iso_code }}.png" />{% endif %}</p>
        <p>Type: {{ organisation.organisation_type.all|join:", " }}</p>
        <p>Genre: {{ organisation.genre.all|join:", " }}</p>
        <p>Disambiguation: {{ organisation.disambiguation }}</p>
        <p>Annotation: {{ organisation.annotation }}</p>
        <p>Website: {% if organisation.website %}<a target="_blank" href="{{ organisation.website }}">{{ organisation.website }}</a>{% endif %}</p>
        <p>Verified: {{ organisation.verified }}</p>
        <p>GPS: {{ organisation.latitude }}, {{ organisation.longitude }}</p>
        <p>Capacity: {{ organisation.capacity }}</p>
        <p>Active: {{ organisation.active }}</p>
        <p>Start: {{ organisation.start_date }}</p>
        <p>End: {{ organisation.end_date }}</p>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Related concerts</h4>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Artist</th>
                <th>Announcement</th>
            </tr>
            {% for concert in object_list %}
                {% if concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
                    <td><a href="{% url 'concert_detail' concert.id %}">{{ concert.date }}</a></td>
                    <td>
                        {% for relationca in concert.relationconcertartist_set.all %}
                            <a href="{% url 'artist_detail' relationca.artist.mbid %}">{{ relationca.artist }}</a>
                        {% endfor %}
                    </td>
                    <td>
                      {% for ca in concert.concertannouncement_set.all %}
                          <a href="{% url 'concertannouncement_detail' ca.id %}">hier</a>
                          <a target="_blank" href="{{ ca.gigfinder.base_url}}{{ ca.gigfinder_concert_id }}">
                          {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" /></a>
                      {% endfor %}
                  </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

    {% if organisation.venue_set.all %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Related venues</h4>
        <ul>
            {% for relation in organisation.venue_set.all %}
                <li>
                    <a href="{% url 'venue_update' relation.id %}">{{ relation.raw_venue }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if organisation.organisationa.all or organisation.organisationb.all %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Related organisations</h4>
        <ul>
            {% for relation in organisation.organisationa.all %}
                <li>
                    {{ organisation.name }}
                    {% if relation.organisation_a.name %}
                        {{ relation.relation_type.all|join:", " }}
                    {% else %}
                        is related to
                    {% endif %}
                    <a href="{% url 'organisation_detail' relation.organisation_b.id %}">{{ relation.organisation_b.name }}</a>
                    {% if perms.hlwtadmin.can_update_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                    {% if perms.hlwtadmin.can_delete_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_delete' relation.id organisation.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                </li>
            {% endfor %}
            {% for relation in organisation.organisationb.all %}
                <li>
                    <a href="{% url 'organisation_detail' relation.organisation_a.id %}">{{ relation.organisation_a.name }}</a>
                    {% if relation.organisation_a.name %}
                        {{ relation.relation_type.all|join:", " }}
                    {% else %}
                        is related to
                    {% endif %}
                    {{ organisation.name }}
                    {% if perms.hlwtadmin.can_update_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                    {% if perms.hlwtadmin.can_delete_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_delete' relation.id organisation.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <ul>
            {% if perms.hlwtadmin.can_delete_organisation %}<li><a href="{% url 'organisation_delete' organisation.id %}">Delete this organisation</a></li>{% endif %}
            {% if perms.hlwtadmin.can_update_organisation %}<li><a href="{% url 'organisation_update' organisation.id %}">Update this organisation</a></li>{% endif %}
            {% if perms.hlwtadmin.can_create_relationorganisationorganisation %}<li><a href="{% url 'relationorganisationorganisation_create' organisation.id %}">Relate organisation to another organisation</a></li>{% endif %}
        </ul>
    </div>
{% endblock %}
