{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Organisation: {{ organisation.name }}{% endblock %}</h1>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <table border="1">
            <tr>
                <td>Sort name</td>
                <td>{{ organisation.sort_name }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{% if organisation.address %}{{ organisation.address }}, {% endif %} {% if organisation.location %}<a href="{% url 'location_detail' organisation.location.id %}">{{ organisation.location }}</a> {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ organisation.location.country.iso_code }}.png" />{% endif %}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ organisation.organisation_type.all|join:", " }}</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>{{ organisation.genre.all|join:", " }}</td>
            </tr>
            <tr>
                <td>Disambiguation</td>
                <td>{{ organisation.disambiguation }}</td>
            </tr>
            <tr>
                <td>Annotation</td>
                <td>{{ organisation.annotation }}</td>
            </tr>
            <tr>
                <td>Website</td>
                <td>{% if organisation.website %}<a target="_blank" href="{{ organisation.website }}">{{ organisation.website }}</a>{% endif %}</td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td>{{ organisation.capacity }}</td>
            </tr>
            <tr>
                <td>Active</td>
                <td>{{ organisation.active }}</td>
            </tr>
            <tr>
                <td>Start - end</td>
                <td>{{ organisation.startdate }} - {{ organisation.enddate }}</td>
            </tr>
        </table>
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Concerts</h4>
        <table border="1">
    <tr>
      <th>Date</th>
      <th>Artist</th>
      <th>Organisation</th>
      <th>Genre</th>
      <th>Gigfinders</th>
    </tr>
    {% for concert in object_list %}
      {% if concert.cancelled %}<tr style="text-decoration: line-through;">{% else %} <tr> {% endif %}
        <td valign="top">
          {% if concert.is_new %}{% load static %}<img style="border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/new.gif' %}" />{% endif %}
          {% if concert.is_upcoming %}{% load static %}<img style="width: 46px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/coming.gif' %}" />{% endif %}
          <a href="{{ concert.get_absolute_url }}">{{ concert.date }}</a>
          {% if concert.verified %}{% load static %}<img style="width: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
          {% if not concert.is_confirmed and not concert.verified %}(Unconfirmed){% endif %}
        </td>
        <td valign="top">
          {% for relation in concert.artistsqs %}
            <a href="{% url 'artist_detail' relation.artist.mbid %}">{{ relation.artist.name }}</a><br>
          {% endfor %}
        </td>
        <td valign="top">
          {% for relation in concert.organisationsqs %}
            {% if relation.organisation %}
              <a href="{% url 'organisation_detail' relation.organisation.id %}">{{ relation.organisation.name }}</a>
            {% else %}
              Missing organisation
            {% endif %}
            {% if relation.organisation.location %}
              <br>
              {{ relation.organisation.location }}
              {% load static %}<img title="{{ organisation.location.country }}" style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'flags/' %}{{ relation.organisation.location.country.iso_code }}.png" />
              {% if relation.organisation.location.verified %}{% load static %}<img style="width: 20px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/verified.svg' %}" alt="verified" />{% endif %}
            {% endif %}
            <br>
          {% endfor %}
        </td>
        <td valign="top">{{ concert.genre.all|join:"<br>" }}</td>
        <td valign="top">
          {% for ca in concert.concertannouncements %}
            <a target="_blank" href="{{ ca.gigfinder.base_url }}{% if ca.gigfinder.name == 'podiumfestivalinfo' %} {{ ca.artist.name }} {{ ca.date }} 'site:podiuminfo.nl'  {% else %}{{ ca.gigfinder_concert_id }}{% endif %}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ ca.gigfinder }}.png" alt="{{ ca.gigfinder }}" />
            </a>
            <a href="{% url 'concertannouncement_detail' ca.pk %}" title="{{ ca }}">{{ ca|truncatechars:30 }}</a>
            </br>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

    {% if organisation.identifiersqs %}
    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Image via the wikidata identifier</h4> # TODO check if identifierqs is wikidata
        <a target="_blank" href="" class="my-link"><img src="" class="my-image" id="{{ organisation.identifiersqs.first.identifier.identifier }}"></a>
    </div>
    {% endif %}

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Technical details</h4>
        <table border="1">
            <tr>
                <td>Verified</td>
                <td>{{ organisation.verified }}</td>
            </tr>
            <tr>
                <td>GPS</td>
                <td>{{ organisation.latitude }}, {{ organisation.longitude }}</td>
            </tr>
        </table>
    </div>

    {% if organisation.venue_set.all %}
    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Related venues</h4>
        <ul>
            {% for relation in organisation.venue_set.all %}
                <li>
                    <a href="{% url 'venue_update' relation.id %}">{{ relation.raw_venue }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if organisation.organisationa.all or organisation.organisationb.all %}
    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Related organisations</h4>
        <ul>
            {% for relation in organisation.organisationa.all %}
                <li>
                    {{ organisation.name }}
                    {% if relation.organisation_a.name %}
                        {{ relation.relation_type.all|join:", " }}
                    {% else %}
                        is related to
                    {% endif %}
                    <a href="{% url 'organisation_detail' relation.organisation_b.id %}">{{ relation.organisation_b.name }}</a>
                    ({{ relation.startdate }} - {{ relation.enddate }})
                    {% if perms.hlwtadmin.can_update_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                    {% if perms.hlwtadmin.can_delete_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_delete' relation.id organisation.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                </li>
            {% endfor %}
            {% for relation in organisation.organisationb.all %}
                <li>
                    <a href="{% url 'organisation_detail' relation.organisation_a.id %}">{{ relation.organisation_a.name }}</a>
                    {% if relation.organisation_a.name %}
                        {{ relation.relation_type.all|join:", " }}
                    {% else %}
                        is related to
                    {% endif %}
                    {{ organisation.name }}
                    ({{ relation.startdate }} - {{ relation.enddate }})
                    {% if perms.hlwtadmin.can_update_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_update' relation.id %}">{% load static %}<img src="{% static 'icons/edit.png' %}" alt="edit" /></a>{% endif %}
                    {% if perms.hlwtadmin.can_delete_relationorganisationorganisation %}<a href="{% url 'relationorganisationorganisation_delete' relation.id organisation.id %}">{% load static %}<img src="{% static 'icons/erase.png' %}" alt="delete" /></a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if organisation.identifiersqs %}
    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>External identifier</h4>
        <ul>
            {% for relation in organisation.identifiersqs %}
                <li>
                    <a target="_blank" href="{{ relation.identifier.service.base_url }}{{ relation.identifier.identifier }}">{{ relation.identifier }}</a>
                    {% if perms.hlwtadmin.can_update_externalidentifier %}[<a href="{% url 'identifier_update' relation.identifier.id %}">Edit the identifier</a>]{% endif %}
                    {% if perms.hlwtadmin.can_delete_relationorganisationidentifier %}[<a href="{% url 'relationorganisationidentifier_delete' relation.id organisation.id %}">Delete the link to this identifier</a>]{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Actions</h4>
        <ul>
            {% if perms.hlwtadmin.can_update_organisation %}<li><a href="{% url 'organisation_update' organisation.id %}">Update this organisation</a></li>{% endif %}
            {% if perms.hlwtadmin.can_create_relationorganisationorganisation %}<li><a href="{% url 'relationorganisationorganisation_create' organisation.id %}">Relate organisation to another organisation</a></li>{% endif %}
            {% if perms.hlwtadmin.can_create_relationorganisationidentifier %}<li><a href="{% url 'relationorganisationidentifier_create' organisation.id %}">Relate organisation to an external identifier</a></li>{% endif %}
        </ul>
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Special actions</h4>
        <ul>
            {% if perms.hlwtadmin.can_delete_organisation %}<li><a href="{% url 'organisation_delete' organisation.id %}">Delete this organisation</a></li>{% endif %}
            {% if perms.hlwtadmin.can_delete_concert %}<li><a href="{% url 'organisation_delete_with_venue_consequences' organisation.id 1 %}">Unlink this organisation from all its venues, then delete the organisation</a>{% endif %}
            {% if perms.hlwtadmin.can_delete_concert %}<li><a href="{% url 'organisation_delete_with_venue_consequences' organisation.id 2 %}">Unlink this organisation from all its venues, set all these venues to unassignable, then delete the organisation</a>{% endif %}
        </ul>
    </div>

{% endblock %}

{% block javascript %}
<script>
    var myImage = document.querySelector('.my-image');
    var myLink = document.querySelector('.my-link');
    var fname;

    fetch('http://www.wikidata.org/w/api.php?action=wbgetclaims&property=P18&format=json&origin=*&entity=' + myImage.id)
        .then(function(response) {
            return response.json();
        }).then(function(json) {
            fname = json["claims"]["P18"][0]["mainsnak"]["datavalue"]["value"];
            console.log(fname);
        }).then(function(fn) {
    fetch("https://commons.wikimedia.org/w/api.php?action=query&format=json&origin=*&formatversion=2&prop=imageinfo&iiprop=url&iiurlwidth=320&titles=File:" + encodeURIComponent(fname))
        .then(function(response) {
            return response.json();
        }).then(function(json) {
            myImage.src = json["query"]["pages"][0]["imageinfo"][0]["thumburl"];
            myLink.href = json["query"]["pages"][0]["imageinfo"][0]["descriptionurl"];
        });})
  </script>
{% endblock javascript %}
