{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Venue: {{ venue.raw_venue }}{% endblock %}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p>Raw location: {{ venue.raw_location}}</p>
        <p>Clean location (via related organisation): {{ venue.clean_location }}</p>
        <p>Related organisation:
            {% if venue.organisation %}
                <a href="{% url 'organisation_detail' venue.organisation.id %}">{{ venue.organisation }}</a>
            {% endif %}
        </p>
    </div>

    <div style="margin-left:20px;margin-top:20px">
    <h2>Related concert announcements</h2>
        <ul>
            {% for announcement in object_list %}
                <li>
                    <a href="{% url 'concertannouncement_detail' announcement.id %}">{{ announcement.title }}, {{ announcement.date }}, {{ announcement.artist }}</a>
                    {% if perms.hlwtadmin.can_update_concertannouncement %}<a href="{% url 'concertannouncement_update' announcement.id %}">[update concertannouncement]</a>{% endif %}
                </li>
            {% endfor %}
        </ul>
            <div class="pagination">
                <span class="page-links">
                    {% if object_list.has_previous %}
                        <a href="{{ request.path }}?page={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>
                    {% if object_list.has_next %}
                        <a href="{{ request.path }}?page={{ object_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
        {% if perms.hlwtadmin.can_update_venue %}<a href="{% url 'venue_update' venue.id %}">Relate this venue to an organisation</a>{% endif %}
    </div>
{% endblock %}
