{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron my-4">
    <h1>{% block title %}{{ venue.raw_venue }}{% endblock %}</h1>
    <div class="card-deck">
        <div class="card">
            <h5 class="card-header">Raw location</h5>
            <div class="card-body">
                <p>{{ venue.raw_location}}</p>
                <h5 class="card-title">Potential locations</h5>
                <ul class="list-group list-group-flush">
                    {% if venue.location_estimated_from_raw_loc_string %}<li class="list-group-item">Guessed from raw string: <a href="{{venue.location_estimated_from_raw_loc_string.get_absolute_url }}">{{ venue.location_estimated_from_raw_loc_string }}</a>{% else %}<li class="list-group-item">No location found on the basis of the raw string{% endif %}</li>
                    {% if venue.location_estimated_from_venues_with_similar_raw_loc %}<li class="list-group-item">Guessed from other organisations with same raw_location: <a href="{{ venue.location_estimated_from_venues_with_similar_raw_loc.get_absolute_url }}">{{ venue.location_estimated_from_venues_with_similar_raw_loc }}</a>{% else %}<li class="list-group-item">No location found on the basis of other organisations in this raw_location{% endif %}</li>
                </ul>
            </div>
        </div>
        {% if venue.organisation %}
        <div class="card">
            <h5 class="card-header">Related organisation</h5>
            <div class="card-body">
                <a href="{% url 'organisation_detail' venue.organisation.id %}">{{ venue.organisation }}</a><br/>in <a href="{{ venue.clean_location.get_absolute_url }}">{{ venue.clean_location }}</a> {% if venue.organisation.disambiguation %}<br/><small class="text-muted">{{ venue.organisation.disambiguation }}</small>{% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container my-4">
    <table class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Concertannouncement</th>
                <th scope="col">Artist</th>
                <th scope="col">Concert</th>
            </tr>
        </thead>
        {% for announcement in object_list %}
        <tr {% if announcement.ignore %}class="table-danger" style="text-decoration: line-through"{% endif %}>
            <td>
                <a target="_blank" href="{{ announcement.gigfinder.base_url }}{% if announcement.gigfinder.name == 'podiumfestivalinfo' %} {{ announcement.artist.name }} {{ announcement.date }} 'site:podiuminfo.nl'  {% else %}{{ announcement.gigfinder_concert_id }}{% endif %}">
                {% load static %}<img style="width: 16px; height: 16px; border: 0px; margin-left: 1px; margin-right: 1px;" src="{% static 'icons/' %}{{ announcement.gigfinder }}.png" alt="{{ announcement.gigfinder }}" />
                </a>
                <a href="{% url 'concertannouncement_detail' announcement.id %}">{{ announcement.title }}</a> {% if announcement.ignore %}<span class="badge badge-info">Ignored</span>{% endif %}
            </td>
            <td>
                <a href="{% url 'artist_detail' announcement.artist.mbid %}">{{ announcement.artist }}</a>
            </td>
            <td>
                {% if announcement.concert %}<a href="{% url 'concert_detail' announcement.concert.id %}">{{ announcement.date }}</a>{% else %}No related concert{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% load my_tags %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if object_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=object_list.previous_page_number %}">previous</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</a>
            </li>
            {% if object_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=object_list.next_page_number %}">next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% if user.is_authenticated %}
<div class="container my-4">
    <h4 class="display-4">Administration</h4>
    <div class="card-columns">
        <div class="card">
            <h5 class="card-header">Actions</h5>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>{% if perms.hlwtadmin.update_venue %}<a href="{% url 'venue_update' venue.id %}">Relate this venue to an organisation</a>{% endif %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}