{% extends "base_generic.html" %}

{% block content %}
<section class="jumbotron my-4">
    <div class="container">
      <h1 class="jumbotron-heading">Have Love Will Travel</h1>
      <p class="lead">A data management environment to manage and browse aggregated concerts from gigfinder platforms.</p>
      <hr class="my-4">
      {% if not user.is_authenticated %}
      <p>Development at Kunstenpunt, since 2017.</p>
      {% endif %}
      <p>Check <a href="https://github.com/Kunstenpunt/havelovewilltravel">GitHub</a> for <a href="https://github.com/Kunstenpunt/havelovewilltravel">code</a>, <a href="https://github.com/Kunstenpunt/havelovewilltravel/issues">issue tracking</a> and <a href="https://github.com/Kunstenpunt/havelovewilltravel/wiki">documentation</a>.</p>
    </div>
</section>
{% if not user.is_authenticated %}
<div class="row">
  <div class="col-md-12">
    <h2>Concerts abroad today <small><a href="{% url 'upcoming_concerts' %}">Or click here to see all upcoming concerts</a></small></h2>
    <ul class="list-group list-group-flush">
    {% for concert in concerts_abroad_today %}
        <li class="list-group-item">
          <a href="{% url 'concert_detail' concert.pk %}">{{ concert.date }}</a> >
          {% for artist in concert.related_artists %}<a href="{% url 'artist_detail' artist.pk %}">{{ artist.name }}</a>{% endfor %} at
          {% for organisation in concert.related_organisations %}<a href="{% url 'organisation_detail' organisation.pk %}">{{ organisation.name }}</a> in <a href="{% url 'location_detail' organisation.location.pk %}">{{ organisation.location }}</a>{% endfor %}
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
<hr>
{% endif %}
<div class="card-columns">
  {% if user.is_authenticated %}
  <div class="card">
    <h5 class="card-header">Contribute</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="{% url 'concert_create' %}">Add a manual concert</a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="card">
  <h5 class="card-header">Some statistics</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Artists:</strong> {{ num_artists }}</li>
      <li class="list-group-item"><strong>Organisations:</strong> {{ num_organisations }}</li>
      <li class="list-group-item"><strong>Concerts:</strong> {{ num_concerts }}</li>
      <li class="list-group-item"><strong>Venues:</strong> {{ num_venues }}</li>
      <li class="list-group-item"><strong>Announcements:</strong> {{ num_announcements }}</li>
      <li class="list-group-item"><strong>Locations:</strong> {{ num_locations }}</li>
    </ul>
  </div>
</div>

{% if user.is_authenticated %}
  <div class="card">
    <h5 class="card-header">Quality assurance</h5>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'recently_added_concerts' %}">Recently added and still unverified concerts</a></li>
      <li class="list-group-item"><a href="{% url 'recently_added_organisations' %}">Recently added and still unverified organisations</a></li>
      <li class="list-group-item"><a href="{% url 'recently_added_locations' %}">Recently added and still unverified locations</a></li>
      <li class="list-group-item"><a href="{% url 'unverified_organisations' %}">All unverified organisations</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_with_multiple_organisations_in_different_locations' %}">Concerts with multiple organisations in different locations</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_with_more_than_one_artist' %}">Concerts with more than one artist</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_without_artists' %}">Concerts wo/ artists</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_without_organisations' %}">Concerts wo/ organisations</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_in_non_neighbouring_countries'%}">Concerts in non-neighbouring countries</a></li>
    </ul>
  </div>
  </div>

  <div class="card">
    <h5 class="card-header">Consistency</h5>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'organisations_without_gps' %}">Organisations without latitude and longitude</a></li>
      <li class="list-group-item"><a href="{% url 'organisations_without_genre' %}">Organisations without genre</a></li>
      <li class="list-group-item"><a href="{% url 'organisations_without_disambiguation' %}">Organisations without disambiguation</a></li>
      <li class="list-group-item"><a href="{% url 'organisations_without_sortname' %}">Organisations without sort name</a></li>
      <li class="list-group-item"><a href="{% url 'concerts_without_genre' %}">Concerts without genre</a></li>
      <li class="list-group-item"><a href="{% url 'artists_without_genre' %}">Artists without genre</a></li>
    </ul>

  </div>
  </div>

  <div class="card">
    <h5 class="card-header">Include and exclude lists</h5>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'unassignable_venues' %}">Unassignable venues</a></li>
      <li class="list-group-item"><a href="{% url 'excludeartists' %}">Artists on exclude list</a> ({{ num_excluded_artists }})</li>
      <li class="list-group-item"><a href="{% url 'includeartists' %}">Artists on include list</a> ({{ num_included_artists }})</li>
      <li class="list-group-item"><a href="{% url 'ignored_concertannouncements' %}">Ignored concertannouncements</a></li>
      <li class="list-group-item"><a href="{% url 'ignored_concerts' %}">Ignored concerts</a></li>
    </ul>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Relations</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'concertannouncements_without_concert' %}">Announcements wo/ concert</a></li>
                <li class="list-group-item"><a href="{% url 'concerts_without_announcements' %}">Concerts wo/ announcements</a></li>
                <li class="list-group-item"><a href="{% url 'venues_without_organisation' %}">Venues wo/ organisation</a></li>
                <li class="list-group-item"><a href="{% url 'venues_without_concertannouncements' %}">Venues wo/ concertannouncements</a></li>
                <li class="list-group-item"><a href="{% url 'organisations_without_venues' %}">Organisations wo/ venues</a></li>
                <li class="list-group-item"><a href="{% url 'organisations_without_locations' %}">Organisations without locations</a></li>
                <li class="list-group-item"><a href="{% url 'organisations_without_concerts' %}">Organisations without concerts</a></li>
                <li class="list-group-item"><a href="{% url 'cities_without_country' %}">Cities without country</a></li>
            </ul>
        </div>
  </div>

  <div class="card">
    <h5 class="card-header">Leeches in past 15 days</h5>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        {% for leech in leeches %}
          <ul class="list-group-item">{{ leech.0 }} had {{ leech.1 }} edits.</ul>
        {% endfor %}
        </ul>
      </div>
  </div>
{% endif %}
</div>

{% endblock %}